/* Color Theme Swatches in Hex
light-green-hex { color: #7A8B7B; }
medium-green-hex { color: #214002; }
dark green-hex { color: #182A0F; }
pale-yellow-hex { color: #CBB16F; }
pink-hex { color: #C6A1A0; }

Color Theme Swatches in RGBA
light-green-rgba { color: rgba(122, 139, 123, 1); }
medium-green-rgba { color: rgba(33, 64, 2, 1); }
dark green-rgba { color: rgba(24, 42, 15, 1); }
pale-yellow-rgba { color: rgba(203, 177, 111, 1); }
pink-rgba { color: rgba(198, 161, 160, 1); }
*/
/* Color Theme Neutral Swatches in Hex
light grey { color: #F2F2F2; }
light-med grey { color: #D9D9D9; }
medium grey { color: #737373; }
dark grey { color: #262626; }
almost black { color: #0D0D0D; }

Color Theme Neutral Swatches in RGBA
light grey { color: rgba(242, 242, 242, 1); }
light-med grey { color: rgba(217, 217, 217, 1); }
medium grey { color: rgba(115, 115, 115, 1); }
dark grey { color: rgba(38, 38, 38, 1); }
almost black { color: rgba(13, 13, 13, 1); }
 */
/*sets default width of all elements to include the padding and border */
* {
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #ffffff;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #262626;
}

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.2em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

/* Image View Port */
img {
  width: 100%;
}

/* Links */
a {
  color: rgba(122, 139, 123, 1);
  text-decoration: none;
  /* No underlining */
}

/* For visited link: I don't think I want to add this feature but I'm leaving the code here in case I change my mind
a:visited {
  color: #D9D9D9;
}
*/
a:hover,
a:focus {
  color: rgba(198, 161, 160, 1);
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #7A8B7B;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 2px;
  border-bottom: 1px solid #7A8B7B;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  border-radius: 5px;
  margin: 10px 0;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button-contact {
  display: inline-block;
  background-color: transparent;
  color: #7A8B7B;
  padding: 10px;
  border: 2px solid #7A8B7B;
  border-radius: 5px;
}

.button-contact:hover {
  background-color: #7A8B7B;
  color: #ffffff;
  text-decoration: none;
}

.button-contact:active {
  background-color: #7A8B7B;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

#my-work .row {
  margin: 0 0 25px 0;
  padding: 30px 0;
  /* 25px top and bottom, 0 left and right */
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 140px;
  fill: black;
  transition: fill 0.4s ease;
}

.logo:hover {
  max-width: 140px;
  fill: #C6A1A0;
}

#my-work h2 {
  display: none;
}

#my-work h5 {
  display: block;
  color: #182A0F;
  margin: 3px 0px 12px 0px;
}

#my-work h3 {
  display: block;
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 3px;
}

#my-work p {
  display: block;
  margin-top: 25px;
  margin-bottom: 20px;
}

.project-pic:hover {
  opacity: 80%;
  transition: opacity 0.3s ease-out;
}

header {
  background-color: #ffffff;
  padding: 10px 0 4px;
  box-shadow: 0px 3px 11px 0px rgba(50, 50, 50, 0.55);
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 25px;
  text-transform: lowercase;
  font-weight: 700;
  color: rgba(122, 139, 123, 1);
}

nav>ul>li>a:hover {
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid rgba(242, 242, 242, 1);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0px;
  margin-top: 10px;
}

#hero {
  padding: 37px 0px;
  display: inline-block;
  width: 100%;
  background-color: #182A0F;
  color: #ffffff;
  text-align: center;
  min-height: 400px;
}

#hero h1 {
  margin-top: 0;
}

main {
  padding-top: 67px;
}

footer {
  background-color: #182A0F;
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 3px 11px 0px rgba(50, 50, 50, 0.55);
  width: 100%;
}

footer h2 {
  font-size: 1.6em;
  margin-bottom: 18px;
}

footer p {
  margin: 0 25px 30px 25px;
}

footer .button-contact {
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #ffffff;
  margin-bottom: 30px;
}

footer .button-contact:hover {
  background-color: #C6A1A0;
  color: #182A0F;
  text-decoration: none;
  border: 2px solid #C6A1A0;
}

footer .button-contact:active {
  background-color: #C6A1A0;
  color: #182A0F;
  border: 2px solid #C6A1A0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  padding: 0;
}

footer ul li a {
  display: inline-block;
  padding: 0 0px;
  text-transform: lowercase;
  font-weight: 700;
  color: rgba(122, 139, 123, 1);
}

.social-icon {
  max-width: 40%;
  fill: white;
  transition: fill 0.4s ease;
}

.social-icon:hover {
  max-width: 40%;
  fill: #C6A1A0;
}

.copyright {
  font-size: 0.75em;
}

/* About Page */
#about {
  padding-top: 90px;
}

#about h1 {
  display: none;
}

#about h2 {
  display: none;
}

#about a {
  margin: 25px 0px;
}

#about h3 {
  font-size: 1.2em;
  font-weight: 600px;
}

/* QuickCare */
#project-title h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0px;
}

#project-body p {
  margin: 0px;
  margin-bottom: 30px;
  font-size: .95em;
}

#project-title p {
  color: #182A0F;
  font-size: 1.1em;
  font-weight: 700;
  margin: 7px 0px;
}

.project-section {
  background: #F2F2F2;
  border-radius: 10px;
  padding: 20px 25px;
  margin: 50px 0px;
}

.project-section ul {
  padding-left: 25px;
  margin-bottom: 15px;
}

.project-section ul li {
  line-height: 1.3;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.image .project-section img {
  margin: 15px 0px;
}

.wireframe img {
  display: block;
  max-width: 20%;
  float: left;
  margin-bottom: 60px;
  padding: 3px;
}

.solo-image img {
  display: block;
  margin: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.solo-image-2 img {
  display: block;
  margin: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.final-image img {
  display: block;
  margin: 100px 0px 50px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#project-body h2 {
  margin-top: 10px;
}

#project-body h3 {
  margin-top: 30px;
  font-size: 1.3em;
}

#project-body h4 {
  margin-top: 30px;
  font-size: 1.1em;
  font-weight: 700;
}

#project-body h6 {
  margin: 10px 0px;
}

#project-body ol {
  padding-left: 25px;
  margin-bottom: 25px;
}

#project-body ol li {
  margin-bottom: 5px;
}

#project-body ul {
  padding-left: 25px;
  margin-bottom: 25px;
}

#project-body ul li {
  margin-bottom: 5px;
}

.feature {
  margin: 60px 0px;
}

.feature ol {
  padding-left: 25px;
  margin-bottom: 15px;
}

.feature ol li {
  line-height: 1.4;
  margin-bottom: 7px;
  font-size: 0.9em;
}

.feature-list {
  display: inline-block;
  width: 100%;
  background-color: rgba(122, 139, 123, 0.65);
  color: #ffffff;
  text-align: left;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 20px 0px;
}

.bold-paragraph p {
  font-weight: 800;
}

.new-section {
  padding: 37px 25px;
  display: inline-block;
  width: 100%;
  background-color: #182A0F;
  color: #ffffff;
  text-align: left;
}

.new-section h6 {
  font-family: 'Nanum Gothic', sans-serif;
  text-transform: uppercase;
  color: #CBB16F;
  margin: 0px;
  font-weight: 800px;
}

.conclusion {
  padding: 37px 25px;
  display: inline-block;
  width: 100%;
  background-color: #C6A1A0;
  color: #ffffff;
  text-align: left;
}

/*Advanced CSS for Designers */
.button {
  display: inline-block;
  background-color: #7A8B7B;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  border-bottom: 1px solid #7A8B7B;
  transition: 0.2s opacity;
}

.button-contact:hover {
  transition-duration: 0.3s;
  transition-property: background-color, color, border;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: 400px;
    float: right;
    margin-top: 10px;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  /* ensures menu list items are displayed */
  .navtoggle li:last-child {
    display: none;
  }

  /* hides hamburger menu */
  main {
    padding-top: 87px;
  }

  body {
    font-size: 17px;
  }

  #hero {
    min-height: 300px;
    padding: 100px 30px;
  }

  #hero p {
    padding: 0px 20px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.3333%;
  }

  [class*="col-"] {
    float: left;
    padding: 0px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h3 {
    margin-top: 0px;
  }

  #about h3 {
    margin-top: 40px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  #my-work .container {
    margin-top: 150px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-hero {
    min-height: 630px;
  }

  .hero-image {
    width: 63%;
    margin: auto;
    margin-top: 40px;
  }

  #hero p {
    padding: 0px 100px;
  }

  #about p {
    margin-top: 0px;
  }

  .solo-image-2 {
    width: 65%;
    margin: 60px auto;
  }

  .final-image {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .conclusion {
    text-align: center;
    padding-right: 240px;
    padding-left: 240px;
  }

  .feature-list {
    width: 100%;
    padding: 20px 20px;
    margin-top: 155px;
  }

  .feature {
    margin-top: 80px;
  }

  #quickcare .project-hero {
    width: 100%;
    height: 624px;
    background-color: #3845A7;
  }

  #project-body h3 {
    margin-top: 70px;
  }

  #project-body {
    padding-top: 30px;
  }

  .project-section ul li {
    line-height: 1.6;
    margin-bottom: 5px;
    font-size: 0.9em;
  }

  .new-section {
    margin-top: 40px;
    width: 100%;
    height: 300px;
  }

  .new-section p {
    padding-right: 500px;
  }

  .project-subsection p {
    padding-right: 500px;
    margin-bottom: 60px;
  }

  .negative-margin {
    margin-top: -300px;
  }

  .right-lg-padding {
    padding-right: 450px;
  }

  .top-margin {
    margin-top: 80px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .animation {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* CSS Animation */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
