/* Color Theme Swatches in Hex
light-green-hex { color: #7A8B7B; #6a7a6b; }
medium-green-hex { color: #214002; }
dark green-hex { color: #182A0F; }
pale-yellow-hex { color: #CBB16F; }
pink-hex { color: #C6A1A0; #a26665 }

Color Theme Swatches in RGBA
light-green-rgba { color: rgba(122, 139, 123, 1); rgba(106, 122, 107); }
medium-green-rgba { color: rgba(33, 64, 2, 1); }
dark green-rgba { color: rgba(24, 42, 15, 1); }
pale-yellow-rgba { color: rgba(203, 177, 111, 1); }
pink-rgba { color: rgba(198, 161, 160, 1); }
*/
/* Color Theme Neutral Swatches in Hex
light grey { color: #F2F2F2; }
light-med grey { color: #D9D9D9; }
medium grey { color: #737373; }
dark grey { color: #262626; }
almost black { color: #0D0D0D; }

Color Theme Neutral Swatches in RGBA
light grey { color: rgba(242, 242, 242, 1); }
light-med grey { color: rgba(217, 217, 217, 1); }
medium grey { color: rgba(115, 115, 115, 1); }
dark grey { color: rgba(38, 38, 38, 1); }
almost black { color: rgba(13, 13, 13, 1); }
 */
/* sets default width of all elements to include the padding and border */
* {
  box-sizing: border-box;
}

.none {
  display: none;
}

/* Body */
body {
  background-color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #262626;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lora', serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.2em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

/* Image View Port */
img {
  width: 100%;
}

/* Links */
a {
  color: rgba(122, 139, 123, 1);
  text-decoration: none;
  /* No underlining */
}

/* For visited link: I don't think I want to add this feature but I'm leaving the code here in case I change my mind
a:visited {
  color: #D9D9D9;
}
*/
a:hover,
a:focus {
  color: rgba(198, 161, 160, 1);
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #6a7a6b;
  color: #fff;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 1px solid #6a7a6b;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  margin: 10px;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #fff;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

a.button {
  margin-left: auto;
  margin-right: auto;
}

.button-contact {
  display: inline-block;
  background-color: transparent;
  color: #6a7a6b;
  padding: 10px;
  border: 2px solid #6a7a6b;
  border-radius: 5px;
}

.button-contact:hover {
  background-color: #6a7a6b;
  color: #fff;
  text-decoration: none;
}

.button-contact:active {
  background-color: #6a7a6b;
  color: #fff;
}

/* Layout styling */
.container {
  padding: 0 15px;
  overflow-x: hidden;
}

#my-work .row {
  margin: 0 0 25px;
  padding: 30px 0;
  /* 25px top and bottom, 0 left and right
  border-bottom: 1px solid #4a4a4a; */
}

.logo {
  max-width: 120px;
  fill: black;
  transition: fill 0.4s ease;
}

.logo:hover {
  max-width: 120px;
  fill: #c6a1a0;
}

#my-work h2 {
  display: none;
}

#my-work h5 {
  display: block;
  color: #182a0f;
  margin: 3px 0 12px;
}

#my-work h3 {
  display: block;
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 3px;
}

#my-work p {
  display: block;
  margin-top: 25px;
  margin-bottom: 20px;
}

.project-pic:hover {
  opacity: 80%;
  transition: opacity 0.3s ease-out;
}

header {
  background-color: #fff;
  padding: 10px 0 4px;
  box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.2);
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 25px;
  text-transform: lowercase;
  font-weight: 700;
  color: rgba(122, 139, 123, 1);
}

nav>ul>li>a:hover {
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid rgba(242, 242, 242, 1);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  margin-top: 5px;
}

#hero {
  padding: 37px 0;
  display: inline-block;
  width: 100%;
  background-color: #182a0f;
  color: #fff;
  text-align: center;
  min-height: 400px;
}

#hero h1 {
  margin-top: 0;
}

main {
  padding-top: 47px;
}

footer {
  background-color: #182a0f;
  margin-top: 50px;
  color: #fff;
  text-align: center;
  padding: 150px 0;
  display: inline-block;
  box-shadow: 0 3px 11px 0 rgba(50, 50, 50, 0.55);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

#inner {
  margin: 0 auto;
}

footer h2 {
  font-size: 1.6em;
  margin-bottom: 18px;
}

footer p {
  margin: 0 25px 30px;
}

footer .button-contact {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  margin-bottom: 30px;
  margin-top: 20px;
}

footer .button-contact:hover {
  background-color: #c6a1a0;
  color: #182a0f;
  text-decoration: none;
  border: 2px solid #c6a1a0;
}

#contact ul {
  margin-bottom: 50px;
}

footer .button-contact:active {
  background-color: #c6a1a0;
  color: #182a0f;
  border: 2px solid #c6a1a0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  padding: 0;
}

footer ul li a {
  display: inline-block;
  padding: 0;
  text-transform: lowercase;
  font-weight: 700;
  color: rgba(122, 139, 123, 1);
}

.social-icon {
  max-width: 40%;
  fill: white;
  transition: fill 0.4s ease;
}

.social-icon:hover {
  max-width: 40%;
  fill: #c6a1a0;
}

.copyright {
  font-size: 0.7em;
  opacity: 50%;
}

.animation {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* About Page */
#about {
  padding-top: 90px;
}

#about .container {
  max-width: 100%;
}

#about-page main {
  padding-bottom: 40px;
  margin-bottom: -30px;
}

#about {
  background-color: #182a0f;
}

#about p {
  color: #fff;
}

#about a {
  margin: 25px 0;
}

#about h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
}

#about ul {
  color: #fff;
}

#about-page footer {
  margin-top: 0;
}

#skills-and-tools {
  line-height: 1.8;
}

#skills-and-tools .row {
    padding-left: 15px;
    padding-right: 15px;
}

.quote h2 {
  font-size: 1.6em;
  font-style: italic;
  font-weight: 300;
  color: #cbb16f;
  text-align: center;
  padding: 40px 0;
}

.top-bottom-margin-m {
  margin: 40px 0;
}

.border {
  border-width: 0.25px;
  border-color: black;
  border: solid;
}

/* QuickCare */
#project-title h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0;
}

#project-body p {
  margin: 0;
  margin-bottom: 30px;
  font-size: 0.95em;
}

#project-title p {
  color: #182a0f;
  font-size: 1.1em;
  font-weight: 700;
  margin: 7px 0;
}

.project-section {
  background: #f2f2f2;
  border-radius: 10px;
  padding: 20px 25px;
  margin: 50px 0;
}

.project-section ul {
  padding-left: 25px;
  margin-bottom: 15px;
}

.project-section ul li {
  line-height: 1.6;
  margin-bottom: 5px;
  font-size: 0.95em;
}

.image .project-section img {
  margin: 15px 0;
}

.wireframe img {
  display: block;
  max-width: 20%;
  float: left;
  margin-bottom: 60px;
  padding: 3px;
}

.wireframe-2 img {
  display: block;
  max-width: 33%;
  float: left;
  margin-bottom: 60px;
  padding: 3px;
}

.solo-image img {
  display: block;
  margin: 20px 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.solo-image-2 img {
  display: block;
  margin: 20px 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.final-image img {
  display: block;
  margin: 100px 0 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#project-body h2 {
  margin-top: 10px;
}

#project-body h3 {
  margin-top: 30px;
  font-size: 1.3em;
}

#project-body h4 {
  margin-top: 30px;
  font-size: 1.1em;
  font-weight: 700;
}

#project-body h6 {
  margin: 10px 0;
}

.ol {
  padding-left: 25px;
  margin-bottom: 25px;
}

.ol li {
  margin-bottom: 5px;
}

#project-body ul {
  padding-left: 25px;
  margin-bottom: 25px;
}

#project-body ul li {
  margin-bottom: 5px;
}

.feature {
  margin: 60px 0;
}

.feature ol {
  margin: 18px 22px 18px 0;
}

.feature ol li {
  line-height: 1.4;
  font-size: 1em;
}

.feature ol li:first-child {
  margin-bottom: 10px;
}

.feature {
  line-height: 1.4;
  font-size: 0.9em;
}

.feature ul li {
  line-height: 1.4;
  font-size: 0.9em;
}

.feature-list {
  display: inline-block;
  width: 100%;
  border-left-style: solid;
  border-width: 4px;
  border-left-color: rgb(106, 122, 107, 1);
  color: #000;
  text-align: left;
  padding: 0;
  margin: 20px;
}

.feature-list-2 {
  display: inline-block;
  width: 100%;
  border-left-style: solid;
  border-width: 4px;
  border-left-color: rgb(106, 122, 107, 1);
  color: #000;
  text-align: left;
  padding-left: 20px;
}

.hidden-m {
  display: none;
}

#reveal .hidden-lg {
  display: inline-block;
}

.bold-paragraph p {
  font-weight: 800;
}

.new-section {
  padding: 37px 25px;
  display: inline-block;
  width: 100%;
  background-color: #182a0f;
  color: #fff;
  text-align: left;
}

.new-section h6 {
  font-family: 'Nanum Gothic', sans-serif;
  text-transform: uppercase;
  color: #cbb16f;
  margin: 0;
  font-weight: 800;
}

.break-section {
  display: inline-block;
  width: 100%;
  background-color: #182a0f;
  color: #fff;
  text-align: left;
}

.break-section {
  margin-top: 40px;
  width: 100%;
  height: 40px;
}

.conclusion {
  padding: 37px 25px;
  display: inline-block;
  width: 100%;
  background-color: #f2f2f2;
  color: #000;
  text-align: left;
}

.center-button {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: (2, 1fr);
  grid-gap: 10px;
  grid-auto-flow: column;
}

.project-button {
  background-color: rgba(198, 161, 160, 1);
  padding: 10px 5px;
  width: 100%;
  grid-column: span 1;
  margin-top: 10px;
  vertical-align: middle;
}

.project-button:hover {
  opacity: 0.7;
  text-decoration: none;
  transform: ease-out;
  transition-duration: 0.5s;
  transition-property: background-color, color, border;
}

.project-button:active {
  opacity: 0.7;

  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.project-button h2 {
  font-size: 1em;
  margin-block-end: 4px;
  margin-top: 0 !important;
  display: inline-block;
  color: #fff;
}

.project-button p {
  font-size: 0.8em;
  margin-block-end: 0;
  margin-bottom: 0 !important;
  display: inline-block;
  color: #fff;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: (2, 1fr);
  grid-gap: 1px;
  grid-auto-flow: column;
  vertical-align: middle;
}

.arrow-icon {
  grid-column: span 1;
  vertical-align: bottom;
}

.project-link {
  grid-column: span 1;
  vertical-align: middle;
}

#right-arrow {
  fill: white;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px;
}

#left-arrow {
  fill: white;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px;
}

/* UI-Challenge Gallery */
.container-2 {
  grid-template-columns: repeat(1, 1fr);
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.gallery-item:hover .image img {
  transform: scale(1.1);
}

.gallery-item .gallery-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 1em;
  pointer-events: none;
  z-index: 4;
  transition: 0.3s ease-in-out;
  background-color: #fff;
}

.gallery-item:hover .gallery-text {
  opacity: 1;
  color: #000;
  animation: move-down 0.3s linear;
  padding: 1em;
  width: 100%;
}

/* Advanced CSS for Designers */
.button {
  display: inline-block;
  background-color: #6a7a6b;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  margin: 10px auto;
  border-radius: 2px;
  border-bottom: 1px solid #6a7a6b;
  transition: 0.2s opacity;
}

.button-contact:hover {
  transition-duration: 0.3s;
  transition-property: background-color, color, border;
}

/* Project image modal */
/* Style the Image Used to Trigger the Modal */
.img-pop {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.img-pop:hover {
  opacity: 0.5;
}

#about .button {
  padding-left: 20px;
  padding-right: 20px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 80px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  margin-top: 110px;
  display: block;
  width: 100%;
  max-width: 900px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 130px;
  right: 15px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: 400px;
    float: right;
    margin-top: 10px;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  /* ensures menu list items are displayed */
  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: none;
  }

  /* hides hamburger menu */
  main {
    padding-top: 87px;
  }

  body {
    font-size: 17px;
  }

  #hero {
    min-height: 300px;
    padding: 100px 30px;
  }

  #hero p {
    padding: 0 20px;
  }

  .col-md-7 {
    width: 60%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 40%;
  }

  .col-md-4 {
    width: 33.3333%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .project-section {
    background: #f2f2f2;
    border-radius: 10px;
    padding: 20px 25px;
    margin: 50px 0;
  }

  .project-section ul {
    padding-left: 25px;
    margin-bottom: 15px;
  }

  .project-button h2 {
    font-size: 1.2em;
    margin-block-end: 10px;
    display: inline;
  }

  .project-button p {
    font-size: 1em;
    margin-block-end: 0;
    margin-bottom: !important 0;
    display: inline;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h3 {
    margin-top: 0;
  }

  #about h3 {
    margin-top: 40px;
    color: #fff;
  }

  #about {
    padding-top: 110px;
  }

  #about ul {
    color: #fff;
  }

  .left-padding {
    padding-left: 12px;
  }

  #skills-and-tools {
    padding: 60px 50px 0;
  }

  .quote h2 {
    font-size: 1.6em;
    font-style: italic;
    font-weight: 300;
    color: #cbb16f;
    text-align: center;
    padding: 5px 0 12px;
  }

  .side-padding-t {
    padding: 0 200px;
  }

  .top-margin-2 {
    margin-top: 150px;
  }

  .animation {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-image {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .center {
    text-align: center;
  }

  .center-md-padding {
    padding: 0 120px;
  }

  .container-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 150px 300px;
    grid-gap: 10px;
    grid-auto-flow: row;
  }

  .w-0 {
    grid-column: span 0.5;
  }

  .w-1 {
    grid-column: span 1;
  }

  .w-2 {
    grid-column: span 2;
  }

  .w-3 {
    grid-column: span 3;
  }

  .w-4 {
    grid-column: span 4;
  }

  .w-5 {
    grid-column: span 5;
  }

  .w-6 {
    grid-column: span 6;
  }

  .h-1 {
    grid-row: span 0.5;
  }

  .h-1 {
    grid-row: span 1;
  }

  .h-1.5 {
    grid-row: span 1.5;
  }

  .h-2 {
    grid-row: span 2;
  }

  .h-2.5 {
    grid-row: span 2.5;
  }

  .h-3 {
    grid-row: span 3;
  }

  .h-4 {
    grid-row: span 4;
  }

  .h-5 {
    grid-row: span 5;
  }

  .h-6 {
    grid-row: span 6;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .logo {
    max-width: 140px;
  }

  .logo:hover {
    max-width: 140px;
    fill: #c6a1a0;
  }

  .center-md-padding {
    padding: 0;
  }

  body {
    font-size: 18px;
  }

  #about {
    padding-top: 130px;
  }

  .left-padding {
    padding-left: 30px;
  }

  #skills-and-tools {
    padding-top: 30px;
    padding: 0 150px;
    color: #fff;
  }

  #skills-and-tools h3 {
    font-size: 1.2em;
  }

  #my-work .container {
    margin-top: 150px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #about .container {
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }

  .project-hero {
    min-height: 630px;
  }

  .hero-image {
    width: 63%;
    margin: auto;
    margin-top: 40px;
  }

  #hero p {
    padding: 0 100px;
  }

  #about p {
    margin-top: 0;
  }

  .quote h2 {
    font-size: 1.6em;
    font-style: italic;
    font-weight: 300;
    color: #cbb16f;
    text-align: center;
    padding: 40px 0;
  }

  .center-button {
    text-align: left;
  }

  .center-lg {
    text-align: center;
  }

  .solo-image-2 {
    width: 65%;
    margin: 60px auto;
  }

  .final-image {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .conclusion {
    text-align: center;
    padding-right: 240px;
    padding-left: 240px;
  }

  .feature-list {
    display: inline-block;
    width: 100%;
    border-left-style: solid;
    border-width: 4px;
    border-left-color: rgb(106, 122, 107, 1);
    color: #000;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 175px;
  }

  .feature-list-2 {
    display: inline-block;
    width: 100%;
    border-left-style: solid;
    border-width: 4px;
    border-left-color: rgb(106, 122, 107, 1);
    color: #000;
    text-align: left;
    padding-left: 20px;
  }

  .feature {
    margin-top: 80px;
  }

  .feature ol {
    margin: 18px 0 10px 18px;
  }

  #quickcare .project-hero {
    width: 100%;
    height: 624px;
    background-color: #3845a7;
  }

  #portfolio .project-hero {
    width: 100%;
    height: 624px;
    background-color: #C6A1A0;
  }

  #ui-challenge .project-hero {
    width: 100%;
    height: 624px;
    background-color: #AED8A2;
  }

  #project-body h3 {
    margin-top: 70px;
  }

  #project-body {
    padding-top: 30px;
  }

  .project-section ul li {
    line-height: 1.6;
    margin-bottom: 5px;
    font-size: 0.9em;
  }

  .new-section {
    margin-top: 40px;
    width: 100%;
    height: 300px;
  }

  .new-section p {
    padding-right: 500px;
  }

  .break-section {
    margin-top: 40px;
    width: 100%;
    height: 100px;
  }

  .project-subsection p {
    padding-right: 500px;
    margin-bottom: 60px;
  }

  .negative-margin {
    margin-top: -300px;
  }

  .right-lg-padding {
    padding-right: 450px;
  }

  .center-lg-padding {
    padding: 0 225px;
  }

  .top-margin {
    margin-top: 80px;
  }

  .top-margin-3 {
    margin-top: 150px;
  }

  .left-margin {
    margin-left: 100px;
  }

  .left-margin-2 {
    margin-left: 50px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-4 {
    width: 33.3333%;
  }

  .animation {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .animation-width {
    padding: 0;
  }

  .side-padding-t {
    padding: 0;
  }

  .about-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    padding-right: 10px;
  }

  .hidden-m {
    display: inline-block;
  }

  .hidden-lg {
    display: none;
  }

  /* Image Modal */
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    margin-top: 70px;
    display: block;
    width: 100%;
    max-width: 1000px;
  }

  /* Close Icon */
  .close {
    position: fixed;
    top: 130px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .project-button {
    padding: 10px 30px;
  }

  .arrow-icon {
    grid-column: span 1;
  }

  .project-link {
    grid-column: span 4;
  }

  #right-arrow {
    margin: 0;
  }

  #left-arrow {
    margin: 0;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .hero-image {
    max-height: 628px;
    max-width: 911px;
    margin: auto;
    margin-top: 40px;
  }
}
/* CSS Animation */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes move-down {
  0% {
    top: 10%;
  }

  50% {
    top: 35%;
  }

  100% {
    top: 50%;
  }
}
